<div class="main-content no-margin-top">
  <div class="container-fluid">
    <div class="row">
      <h4 class="card-title" style="padding-left: 15px;">Filters</h4>
      <div class="col-md-4">
        <div class="row no-margin">
          <div class="form-group">
            <label for="sel1">Birth Date:</label>
            <select class="form-control" id="sel1" [(ngModel)]="employeeFilter.birth_date_range">
              <option *ngFor="let birth_date of dateRangeValues" [ngValue]="birth_date.id">{{birth_date.text}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="start_date_range">Start Date:</label>
            <select class="form-control" id="start_date_range" [(ngModel)]="employeeFilter.start_date_range">
              <option *ngFor="let start_date of dateRangeValues" [ngValue]="start_date.id">{{start_date.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row no-margin">
          <div class="form-group">
            <label for="sel2">Gender :</label>
            <select class="form-control" id="sel2" [(ngModel)]="employeeFilter.gender">
              <option *ngFor="let gender of genderValues" [ngValue]="gender.id">{{gender.text}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="race">Race :</label>
            <select class="form-control" id="race" [(ngModel)]="employeeFilter.race">
              <option *ngFor="let race of raceValues" [ngValue]="race.id">{{race.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row no-margin">
          <div class="form-group">
            <label for="email">Email Contains :</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="employeeFilter.email_contains">
          </div>
          <div class="form-group">
            <label for="sel2">Position :</label>
            <select class="form-control" id="sel2" [(ngModel)]="employeeFilter.position">
              <option *ngFor="let position of positionValues" [ngValue]="position.id">{{position.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-sm-6">
          <div class="pull-left"> 
              <a class="btn btn-primary btn-round" (click)="search()">Search</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pull-right">
              <a class="btn btn-danger btn-round" (click)="clear()">Reset</a>
          </div>
        </div>
      </div>
      <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
        <data-table id="persons-grid" headerTitle="Employees" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)"
          (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip">
          <data-table-column property="first_name" header="First Name" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column property="last_name" header="Last Name" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column property="phone_number" header="Phone Number">
          </data-table-column>
          <data-table-column property="job_title" header="Job title" [visible]="false" [sortable]="true">
          </data-table-column>
          <data-table-column property="birth_date" header="Birth Date" [visible]="false" [sortable]="true">
          </data-table-column>
          <data-table-column property="age" header="Age" [visible]="false" [sortable]="true">
          </data-table-column>
          <data-table-column property="gender" header="Gender" [visible]="false" [sortable]="true">
          </data-table-column>
          <data-table-column property="active" header="Active" [width]="100" [resizable]="true">
            <template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Active</span>
            </template>
            <template #dataTableCell let-item="item">
              <span style="color: grey">
                <span class="fa fa-check" *ngIf="item.active"></span>
                <span class="fa fa-times" *ngIf="!item.active"></span>
              </span>
            </template>
          </data-table-column>
        </data-table>
      </div>
    </div>
  </div>
</div>